@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Nunito:wght@200;300;400;500&family=Open+Sans:ital,wght@0,300;0,600;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.tail-button{
  @apply text-white hover:border-b-2 focus:border-b-2 font-light font-body text-lg px-4 py-2.5 mr-2 mb-2 uppercase hover:text-white hover:no-underline focus:no-underline focus:text-white
}
.log-register{
  @apply text-white border-2 rounded-full hover:bg-gray-500 focus:border-b-2 font-light font-body text-lg px-4 py-2.5 mr-2 mb-2 uppercase hover:text-white hover:no-underline focus:no-underline focus:text-white
}
.tail-list-item{
  @apply w-full text-center bg-gray-900 p-3 rounded-full text-2xl font-medium text-white uppercase border-2 hover:text-white focus:text-white hover:border-white focus:bg-gray-500/70 font-body hover:no-underline focus:no-underline focus:border-2 hover:shadow-md hover:shadow-white
}
.lable{
  @apply text-white text-xl font-medium mb-2 font-body
}
.info{
  @apply text-gray-300 text-lg font-bold mb-4
}
body {
  @apply bg-gray-100;
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
